/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Account styles  */
.account {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	border: 1px solid black;
	background-color: #fff;
	width: 80%;
	margin: 0 auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	padding: 1.5rem;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	text-align: left;
	margin-bottom: 2rem;
  }
  .accountAmount {
	margin: 0;
	font-size: 2.5rem;
	font-weight: bold;
  }  
  .accountAmountDescription {
	margin: 0;
  }  
  .accountTitle {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-weight: normal;
  }  
  .accountContentWrapper {
	width: 100%;
	-webkit-box-flex: 1;
		-ms-flex: 1;
			flex: 1;
  }
  .transactionButton {
	display: block;
	width: 100%;
	padding: 8px;
	font-size: 1.1rem;
	font-weight: bold;
	margin-top: 1rem;
	border-color: #00bc77;
	background-color: #00bc77;
	color: #fff;
  }
  
  @media (min-width: 720px) {
	.account {
	  -webkit-box-orient: horizontal;
	  -webkit-box-direction: normal;
		  -ms-flex-direction: row;
			  flex-direction: row;
	}
	.accountContentWrapper.cta {
	  -webkit-box-flex: 0;
		  -ms-flex: 0;
			  flex: 0;
	}
	.transactionButton {
	  width: 200px;
	}
  }
  
  @media (max-width: 400px) {
	.accountAmount {
	  font-size: 2rem;
	}
  }