.account {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid black;
	background-color: #fff;
	width: 80%;
	margin: 0 auto 2rem;
	flex-direction: column;
	padding: 1.5rem;
	box-sizing: border-box;
	text-align: left;
  }
  
  .accountAmount {
	margin: 0;
	font-size: 2.5rem;
	font-weight: bold;
  }
  
  .accountAmountDescription {
	margin: 0;
  }
  
  .accountTitle {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-weight: normal;
  }
  
  .accountContentWrapper {
	width: 100%;
	flex: 1;
  }
  
  .transactionButton {
	display: block;
	width: 100%;
	padding: 8px;
	font-size: 1.1rem;
	font-weight: bold;
	margin-top: 1rem;
	border-color: #00bc77;
	background-color: #00bc77;
	color: #fff;
  }
  
  @media (min-width: 720px) {
	.account {
	  flex-direction: row;
	}
  
	.accountContentWrapper.cta {
	  flex: 0;
	}
  
	.transactionButton {
	  width: 200px;
	}
  }
  
  @media (max-width: 400px) {
	.accountAmount {
	  font-size: 2rem;
	}
  }
  