swagger: '2.0'
info:
  title: Bank Argent API documentation
  description: Contains all available API endpoints in this codebase (transactions)
  version: '1.0.0'
  termsOfService: 'http://swagger.io/terms/'
host: localhost:3001
basePath: /api/v1
schemes:
  - http
paths:
  /user/login:
    post:
      tags:
        - User Module
      summary: Login
      description: API for Login
      parameters:
        - in: body
          name: body
          description: Login Payload
          required: true
          schema:
            $ref: '#/definitions/Login'
      produces:
        - application/json
      responses:
        '200':
          description: Login Successfully
          schema:
            $ref: '#/definitions/LoginResponse'
        '400':
          description: Invalid Fields
        '500':
          description: Internal Server Error
  /user/signup:
    post:
      tags:
        - User Module
      summary: Signup
      description: API for Signup
      parameters:
        - in: body
          name: body
          description: Signup Payload
          required: true
          schema:
            $ref: '#/definitions/User'
      produces:
        - application/json
      responses:
        '200':
          description: Signup Successfully
          schema:
            $ref: '#/definitions/ApiResponse'
        '400':
          description: Invalid Fields
        '500':
          description: Internal Server Error
  /user/profile:
    post:
      security:
        - Bearer: []
      tags:
        - User Module
      summary: User Profile API
      description: API for fetching a user profile
      #produces:
       # - application/json
      responses:
        '200':
          description: User profile retrieved successfully
          schema:
            $ref: '#/definitions/ApiResponse'
        '400':
          description: Invalid Fields
        '500':
          description: Internal Server Error
    put:
      security:
        - Bearer: []
      tags:
        - User Module
      summary: User Profile API
      description: API for updating a user profile
      parameters:
        - in: body
          name: body
          description: Update user profile attributes
          required: true
          schema:
            $ref: '#/definitions/UserProfile'
      produces:
        - application/json
      responses:
        '200':
          description: User profile retrieved successfully
          schema:
            $ref: '#/definitions/ApiResponse'
        '400':
          description: Invalid Fields
        '500':
          description: Internal Server Error
  /user/profile/{accountId}/transactions:
    get:
      security:
        - Bearer: []
      tags:
        - Transactions Module
      summary: Fetch all transactions for the current month
      description: API for fetching all transactions of the current month
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: header
          type: string
          name: Authorization
          description: Attach Bearer JWT token
          required: true
        - name: accountId
          in: path
          description: ID of the account
          required: true
          type: string
        - name: month
          in: query
          description: Month of the transaction (if no value, return the current month)
          required: false
          type: string
          enum:
            - January
            - February
            - March
            - April
            - May
            - June
            - July
            - August
            - September
            - October
            - November
            - December
      responses:
        '200':
          description: Current month transactions successfully loaded
          schema:
            $ref: '#/definitions/TransactionsMonthResponse'
        '400':
          description: Invalid Fields
        '401':
          description: User is not authorized
        '404':
          description: Account not found
        '500':
          description: Internal Server Error
  /user/profile/{accountId}/transactions/{transactionId}:
    get:
      security:
        - Bearer: []
      tags:
        - Transactions Module
      summary: Get transaction by ID
      description: API for fetching details of a transaction
      produces:
        - application/json
      parameters:
        - in: header
          type: string
          name: Authorization
          description: Attach Bearer JWT token
          required: true
        - name: accountId
          in: path
          description: ID of the account
          required: true
          type: string
        - name: transactionId
          in: path
          description: ID of the transaction
          required: true
          type: string
      responses:
        '200':
          description: Transaction successfully loaded
          schema:
            $ref: '#/definitions/TransactionResponse'
        '400':
          description: Invalid Fields
        '401':
          description: Access not authorized
        '404':
          description: Transaction not found
        '500':
          description: Internal Server Error
    put:
      security:
        - Bearer: []
      tags:
        - Transactions Module
      summary: Update an existing transaction
      description: API for updating transaction details
      produces:
        - application/json
      parameters:
        - in: header
          type: string
          name: Authorization
          description: Attach Bearer JWT token
          required: true
        - name: accountId
          in: path
          description: ID of the account
          required: true
          type: string
        - name: transactionId
          in: path
          description: ID of the transaction
          required: true
          type: string
        - in: body
          name: body
          description: Update transaction attributes
          required: true
          schema:
            $ref: '#/definitions/TransactionDetail'
      responses:
        '200':
          description: Transaction details successfully modified
          schema:
            $ref: '#/definitions/TransactionUpdateResponse'
        '400':
          description: Invalid Fields
        '401':
          description: Access not authorized
        '404':
          description: Transaction not found
        '500':
          description: Internal Server Error
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
definitions:
  User:
    type: object
    properties:
      email:
        type: string
        description: Courriel de l'utilisateur
      password:
        type: string
        description: Mot de passe de l'utilisateur
      firstName:
        type: string
        description: Prénom de l'utilisateur
      lastName:
        type: string
        description: Nom de famille de l'utilisateur
      userName:
        type: string
        description: Nom public de l'utilisateur
  Login:
    type: object
    properties:
      email:
        type: string
        description: Courriel de l'utilisateur
      password:
        type: string
        description: Mot de passe de l'utilisateur
  ApiResponse:
    type: object
    properties:
      status:
        type: integer
      message:
        type: string
      body:
        type: object
        properties:
          id:
            type: string
          email:
            type: string
  LoginResponse:
    type: object
    properties:
      token:
        type: string
  UserProfile:
    type: object
    properties:
      userName:
        type: string
  
  TransactionsMonthResponse:
    type: object
    properties:
      status:
        type: integer
        example: 200
      message:
        type: string
        example: Transactions récupérées avec succès
      body:
          type: object
          properties:
          transactions:
<<<<<<< HEAD
          $ref: '#/definitions/Transaction'
          example:
            - transactionId: 134872901
              title: "Argent Bank Checking (x8349)"
              money: "$2,082.79"
              balanceType: "Available Balance"
              TransactionDetail:
                - date: "2023-05-21T12:00:00Z"
                  description: "Grocery Shopping"
                  transactionType: "Electronic"
                  category: "Food"
                  note: "lorem ipsum"
                - date: "2023-06-21T12:00:00Z"
                  description: "Grocery Shopping"
                  transactionType: "Electronic"
                  category: "Food"
                  note: "lorem ipsum"
                - date: "2023-07-21T12:00:00Z"
                  description: "Grocery Shopping"
                  transactionType: "Electronic"
                  category: "Food"
                  note: "lorem ipsum"
            - transactionId: 2473892010
              title: "Argent Bank Savings (x6712)"
              money: "$10,928.42"
              balanceType: "Available Balance"
              TransactionDetail:
                - date: "2023-05-21T12:00:00Z"
                  description: "Grocery Shopping"
                  transactionType: "Electronic"
                  category: "Food"
                  note: "lorem ipsum"
                - date: "2023-06-21T12:00:00Z"
                  description: "Grocery Shopping"
                  transactionType: "Electronic"
                  category: "Food"
                  note: "lorem ipsum"
                - date: "2023-07-21T12:00:00Z"
                  description: "Grocery Shopping"
                  transactionType: "Electronic"
                  category: "Food"
                  note: "lorem ipsum"
            - transactionId: 345879287
              title: "Argent Bank Credit Card (x8349)"
              money: "$184.30"
              balanceType: "Current Balance"
              TransactionDetail:
                - date: "2023-05-21T12:00:00Z"
                  description: "Grocery Shopping"
                  transactionType: "Electronic"
                  category: "Food"
                  note: "lorem ipsum"
                - date: "2023-06-21T12:00:00Z"
                  description: "Grocery Shopping"
                  transactionType: "Electronic"
                  category: "Food"
                  note: "lorem ipsum"
                - date: "2023-07-21T12:00:00Z"
                  description: "Grocery Shopping"
                  transactionType: "Electronic"
                  category: "Food"
                  note: "lorem ipsum"
                  title: "Argent Bank Credit Card (x8349)"
                  money: "$184.30"
                  balanceType: "Current Balance"
                  TransactionDetail:
                    - date: "2023-05-21T12:00:00Z"
                      description: "Grocery Shopping"
                      transactionType: "Electronic"
                      category: "Food"
                      note: "lorem ipsum"
                    - date: "2023-06-21T12:00:00Z"
                      description: "Grocery Shopping"
                      transactionType: "Electronic"
                      category: "Food"
                      note: "lorem ipsum"
                    - date: "2023-07-21T12:00:00Z"
                      description: "Grocery Shopping"
                      transactionType: "Electronic"
                      category: "Food"
                      note: "lorem ipsum"    
=======
            type: array
            items:
              $ref: '#/definitions/Transaction'
        example:
          transactions:
              - transactionId: 134872901
                title: "Argent Bank Checking (x8349)"
                money: "$2,082.79"
                balanceType: "Available Balance"
                TransactionDetail:
                  - date: "2023-05-21T12:00:00Z"
                    description: "Grocery Shopping"
                    transactionType: "Electronic"
                    category: "Food"
                    note: "lorem ipsum"
                  - date: "2023-06-21T12:00:00Z"
                    description: "Grocery Shopping"
                    transactionType: "Electronic"
                    category: "Food"
                    note: "lorem ipsum"
                  - date: "2023-07-21T12:00:00Z"
                    description: "Grocery Shopping"
                    transactionType: "Electronic"
                    category: "Food"
                    note: "lorem ipsum"
              - transactionId: 2473892010
                title: "Argent Bank Savings (x6712)"
                money: "$10,928.42"
                balanceType: "Available Balance"
                TransactionDetail:
                  - date: "2023-05-21T12:00:00Z"
                    description: "Grocery Shopping"
                    transactionType: "Electronic"
                    category: "Food"
                    note: "lorem ipsum"
                  - date: "2023-06-21T12:00:00Z"
                    description: "Grocery Shopping"
                    transactionType: "Electronic"
                    category: "Food"
                    note: "lorem ipsum"
                  - date: "2023-07-21T12:00:00Z"
                    description: "Grocery Shopping"
                    transactionType: "Electronic"
                    category: "Food"
                    note: "lorem ipsum"
              - transactionId: 345879287
                title: "Argent Bank Credit Card (x8349)"
                money: "$184.30"
                balanceType: "Current Balance"
                TransactionDetail:
                  - date: "2023-05-21T12:00:00Z"
                    description: "Grocery Shopping"
                    transactionType: "Electronic"
                    category: "Food"
                    note: "lorem ipsum"
                  - date: "2023-06-21T12:00:00Z"
                    description: "Grocery Shopping"
                    transactionType: "Electronic"
                    category: "Food"
                    note: "lorem ipsum"
                  - date: "2023-07-21T12:00:00Z"
                    description: "Grocery Shopping"
                    transactionType: "Electronic"
                    category: "Food"
                    note: "lorem ipsum"

>>>>>>> 0d957190ba9df2e37decddd02a67ffd1baefac3a
  TransactionResponse:
    type: object
    properties:
      status:
        type: integer
        example: 200
      message:
        type: string
        example: Transaction chargée avec succès
      schema:
        $ref: '#/definitions/Transaction'

  TransactionUpdateResponse:
    type: object
    properties:
      status:
        type: integer
        example: 200
      message:
        type: string
        example: Détails de la transaction modifiés avec succès
      schema:
        $ref: '#/definitions/Transaction'

  Transaction:
    type: object
    properties:
      transactionId:
        type: string
        description: ID de la transaction
      accountId:
        type: string
        description: ID du compte
      date:
        type: string
        format: date-time
        description: Date de la transaction
      description:
        type: string
        description: Description de la transaction
      amount:
        type: integer
        format: int64
        description: Montant de la transaction
      balance:
        type: number
        format: double
        description: Solde du compte après la transaction
      type:
        type: string
        description: Type de transaction
      category:
        type: string
        description: Catégorie de transaction
        enum:
          - Food
          - House
          - Car
      notes:
        type: string
        description: Remarques sur la transaction

  TransactionDetail:
    type: object
    properties:
      category:
        type: string
        description: Catégorie de transaction
      notes:
        type: string
        description: Remarques sur la transaction
