.container {
	display: flex;
  }
  
  .main {
	flex: 1;
  }
  
  .bgDark {
	background-color: #12002b;
  }
  
  .signInContent {
	box-sizing: border-box;
	background-color: white;
	width: 300px;
	margin: 3rem auto 5rem;
	padding: 2rem;
  }
  
  .signInIcon {
	font-size: 5rem;
  }
  
  .inputWrapper {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-bottom: 1rem;
  
	input {
	  padding: 5px;
	  font-size: 1.2rem;
	}
  }
  
  .inputRemember {
	display: flex;
	margin-left: 0.25rem;
  
	.labelRemember {
	  margin-left: 0.25rem;
	}
  }
  
  .signInButton {
	display: block;
	width: 100%;
	padding: 8px;
	border: 0;
	font-size: 1.1rem;
	font-weight: bold;
	margin-top: 1rem;
	background-color: #00bc77;
	color: #fff;
	text-decoration: underline;
	cursor: pointer;
  }
  
  .bold {
	font-weight: bold;
  }
  
  .error {
	color: red;
	font-weight: 700;
	margin-top: 1rem;
  }
  
  .title {
	font-size: 1.5rem;
  }
  