.features {
	display: flex;
	flex-direction: column;
	
	@media (min-width: 920px) {
		flex-direction: row;
	}
}

.srOnly {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px); /* 1 */
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%); /* 2 */
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap; /* 3 */
}
