.mainNav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 20px;

	a {
		font-weight: bold;
		color: #2c3e50;
		text-decoration: none;
		margin-right: 0.5rem;

		&:hover {
			text-decoration: underline;
		}

		&.router-link-exact-active {
			color: #42b983;
		}
	}
}

.mainNavLogo {
	display: flex;
	align-items: center;

	.signIn {
		margin-left: 5px;
	}

	.user {
		margin-left: 1px;
		margin-right: 7px;
	}
}

@media (min-width: 451px) {
	.mainNavLogoImage {
		max-width: 100%;
		width: 200px;
	}
}

@media (max-width: 450px) {
	.user {
		margin-left: 0;
		margin-right: 2px;
	}

	.mainNavLogoImage {
		width: 120px;
	}
}

@media (max-width: 340px) {
	.mainNavLogoImage {
		width: 80px;
	}

	.mainNav {
		font-size: 12px;
	}
}
