.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;

    a {
      display: flex;
      font-weight: bold;
      color: #2c3e50;
      gap: 7px;

      .router-link-exact-active {
          color: #42b983;
        }
    }
    .main-nav-items {

      .main-nav-logged {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .main-nav-logged-user {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;

          .fa-user-circle {
            display: flex;
          }
        }

        .main-nav-item {
            text-decoration: none;
            margin-right: 0.5rem;
            
            &:hover {
                text-decoration: underline;
              }

              a {
                display: flex;
                align-items: center;
                font-weight: bold;
                color: #2c3e50;

              }

              .fa-sign-out {
                display: flex;
              }
            }
        
      }
    }
}


