.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;

    a {
      display: flex;
      font-weight: bold;
      color: #2c3e50;
      gap: 5px;

      .router-link-exact-active {
          color: #42b983;
        }
    }
}


.main-nav-item {
    text-decoration: none;
    margin-right: 0.5rem;
    
    &:hover {
        text-decoration: underline;
      }
    }
